body{
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.add-product{
  border-top: 2.5px dotted gray;
  
  
}

